.rotate {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        color: #752185;
        margin-bottom: 50px;
    }
    img {
        height: 250px;
    }
}